# ASSIGNMENT_1

# Solution of Q. n 1

In [6]:
"""string - 'hello' 
integer - -87.8 , 6 
exprsiion - + , -, *, / 
"""

"string - 'hello' \ninteger - -87.8 , 6 \nexprsiion - + , -, *, / \n"


# Solution of Q.n 2

In [7]:
"""A string is a value representing text and it can be wriiten in quotes.
A variable is a name that can refer to any value or a thing in which we can store data
A variable can hold a string, but a string can't hold a variable."""

"A string is a value representing text and it can be wriiten in quotes.\nA variable is a name that can refer to any value or a thing in which we can store data\nA variable can hold a string, but a string can't hold a variable."

# Solution of Q.n 3

In [8]:
"""
  numberic data type ---
  * Integer data type --- refers to number like 1,2,3
  * Float data type ---- refers to decimal no 123.56
  *Complex data type---- refers to eqn like 4 +5j
  BOOLEN data type ---- refers to True or False
  Squence data type ---- * String * List  * Tuple """

'\n  numberic data type ---\n  * Integer data type --- refers to number like 1,2,3\n  * Float data type ---- refers to decimal no 123.56\n  *Complex data type---- refers to eqn like 4 +5j\n  BOOLEN data type ---- refers to True or False\n  Squence data type ---- * String * List  * Tuple '

# Solution of Q.n 4

In [9]:
"""
In python, an expression is any  combination of symbols (like a variable, constants, and operators) representing a value.
it is used to evaluate the values or represent the results.  ex 2+3= 5  """

'\nIn python, an expression is any  combination of symbols (like a variable, constants, and operators) representing a value.\nit is used to evaluate the values or represent the results.  ex 2+3= 5  '

# Solution of Q.n 5

In [10]:
"""Expression is made up of values, containers and mathematical operators (operands) and 
the statement is just like a command that a python interpreter executes."""

'Expression is made up of values, containers and mathematical operators (operands) and \nthe statement is just like a command that a python interpreter executes.'

# Solution of Q.n 6

In [11]:

bacon = 22
bacon +1

23

# Solution of Q.n 7

In [12]:

"spam" + "spamspam"

'spamspamspam'

In [13]:
'spam' *3

'spamspamspam'

# Solution of Q.n 8

In [17]:
eggs = 10

In [32]:
100 = j

SyntaxError: cannot assign to literal (<ipython-input-32-8c85fdd8eb5c>, line 1)

In [14]:
'''Eggs is a valid varible because its starts with string like alaphabet but
100 is invalid because we cant give varible an integer name  '''

'Eggs is a valid varible because its starts with string like alaphabet but\n100 is invalid because we cant give varible an integer name  '

# solution of Q.n 9

In [15]:
"""str() 
int()
float()"""

'str() \nint()\nfloat()'

# solution of Q.n. 10

In [16]:
'i have eaten' + 99 + "burritos"

TypeError: can only concatenate str (not "int") to str

 This expresion cause error because 99 is an integer it cannnot be concatenated with strings, If we have to concatenate it we need to do typecasting.

In [17]:
'i have eaten' + "A99" + "burritos"

'i have eatenA99burritos'